/* Apply Font */
body {
    font-family: sans-serif;
}

/* Prepare Map Page */
html,
body {
    padding: 0;
    margin: 0;
}

#map {
    font-family: inherit;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Select Container */
#selContainer {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 11px 0;
}

/* Select Country */
#selCountry {
    width: 200px;
    margin: 0 auto;
}

/* Country Information Links */
#countryname a {
    text-decoration: none;
    color: #d2386c;
}

#countryname a:hover {
    text-decoration: none;
    color: #00008b;
}

#countrycapital a {
    text-decoration: none;
    color: #006b54;
}

#countrycapital a:hover {
    text-decoration: none;
    color: #6c244c;
}

/* Wikipedia (Map) */
#wikipedia a {
    text-decoration: none;
    color: #00A170;
}

#wikipedia a:hover {
    text-decoration: none;
    color: #9a8b4f;
}

/* City Wikipedia (Map) */
#citywikipedia a {
    text-decoration: none;
    color: #009B77;
}

#citywikipedia a:hover {
    text-decoration: none;
    color: #d2386c;
}

/* country info preloader */
#country-info-preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
    color: #56829e; 
}



/* Add color to the h1 in the modal header */
#weatherModal .modal-header h1 {
    color: white;
    font-weight: bold;
}



.forecast-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    background-color: #f9f9f9;
}

.forecast-box p {
    margin: 0;
}

#lastUpdated {
    font-size: 0.8rem; 
}

/* news */
.news-item {
    display: flex;
    align-items: center;
}

.news-title {
    font-weight: bold;
    text-decoration: none;
    color: #007BFF;
}

.news-title:hover {
    text-decoration: underline;
}

.news-source {
    color: #6c757d;
}

.news-image {
    max-height: 80px;
    object-fit: cover;
}

.modal-header {
    background-color: #d9534f; 
    color: white;
}

.modal-title {
    font-weight: bold;
}


/* Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
}

#preloader::before {
    content: "";
    border: 6px solid #f2f2f2;
    border-top: 6px solid #56829e;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Hide the map until the first country renders */
body.loading #map {
    visibility: hidden;
}
